{% extends "SyntaxErrorApiBundle::base.html.twig" %}

{% block desc %}
    <div id="date">
        Records of month. You can change date by <span style="color: #4842b5;">?date</span> parameter.
        <input type="date" style="float: right; margin-right: .5em;"/>
    </div>
    Default is <a href="{{ path('syntax_error_api_month_records') }}">this month.</a>


    <div style="margin-top: 2.5em;">
        You can decide what you want to see through the url,<br/>eg.
        {% set url = "http://" ~ app.request.host ~ path('syntax_error_api_month_records') ~ "/?windspeed&winddir" %}
        <a href="{{ path('syntax_error_api_month_records') ~ "?windspeed&winddir" }}">{{ url }}</a> return only wind speed and direction data.
    </div>

{% endblock %}

{% block js %}
    <script>var today = '{{ "now"|date("Y-m-d") }}';</script>
    <script src="{{ asset('bundles/syntaxerrorapi/js/dater.js') }}"></script>
{% endblock %}
