<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8"/>
    <title>Weather admin | Welome</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0;
        }

        section {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        div.panel {
            margin: 2em;
        }

        span.badge {
            margin-left: 5em;
        }

        .log-hidden-item {
            display: none;
        }
    </style>
</head>

{% macro statusColor(status) %}
    {{ status != 0 or status is null ? "#df340c" : "#01cd4f" }}
{% endmacro %}
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Weather station admin</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav">
                    <a class="btn btn-default navbar-btn" href="{{ path('syntax_error_api_home') }}" role="button">Go to API</a>
                    <a class="btn btn-default navbar-btn" href="/" role="button">Go to client</a>
                </div>

                <div class="nav navbar-nav navbar-right">
                    <a class="btn btn-danger navbar-btn" href="{{ path('syntax_error_api_admin_logout') }}" role="button">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <section class="jumbotron">
        {# Battery status #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Station status</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge" style="background: {{ _self.statusColor(hardware.batteries.windBatteryStatus) }};">&nbsp;</span>
                        Wind sensor battery
                    </li>
                    <li class="list-group-item">
                        <span class="badge" style="background: {{ _self.statusColor(hardware.batteries.rainBatteryStatus) }};">&nbsp;</span>
                        Rain sensor battery
                    </li>
                    <li class="list-group-item">
                        <span class="badge" style="background: {{ _self.statusColor(hardware.batteries.outTempBatteryStatus) }};">&nbsp;</span>
                        Thermometer and hygrometer battery
                    </li>
                    <li class="list-group-item">
                        <span class="badge" style="background: {{ _self.statusColor(hardware.batteries.inTempBatteryStatus) }};">&nbsp;</span>
                        Station console battery
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ hardware.last.format("Y-m-d H:i") }}</span>
                        Last update from console
                    </li>
                </ul>
            </div>
        </div>

        {# Database status #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Database status</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ database.count.archive }}</span>
                        Archive records count
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ database.count.day }}</span>
                        Day records count
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ database.size.total }} MB</span>
                        Total size
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ database.size.archive }} MB</span>
                        Archive table size
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ database.size.rest }} MB</span>
                        Day tables size
                    </li>
                </ul>
            </div>
        </div>

        {# Vhost status #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Vhost status</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge" style="background: {{ _self.statusColor(not server.forecast.cached) }};">
                            {{ server.forecast.cached ? server.forecast.ttl|replace({'#': 'm.', '@': 's.'}) : 'Not cached' }}
                        </span>
                        Wunderground forecast
                        {% if server.status.forecast is defined %} ({{ server.status.forecast.today.value ~ ', ' ~ server.status.forecast.total }}) {% endif %}
                    </li>

                    <li class="list-group-item">
                        <span class="badge" style="background: {{ _self.statusColor(not server.astronomy.cached) }};">
                            {{ server.astronomy.cached ? server.astronomy.ttl|replace({'#': 'm.', '@': 's.'}) : 'Not cached' }}
                        </span>
                        Wunderground astronomy
                        {% if server.status.astronomy is defined %} ({{ server.status.astronomy.today.value ~ ', ' ~ server.status.astronomy.total }}) {% endif %}
                    </li>

                    <li class="list-group-item">
                        <span class="badge" style="background: {{ _self.statusColor(not server.alerts.cached) }};">
                            {{ server.alerts.cached ? server.alerts.ttl|replace({'#': 'm.', '@': 's.'}) : 'Not cached' }}
                        </span>
                        Wunderground alerts
                        {% if server.status.alerts is defined %} ({{ server.status.alerts.today.value ~ ', ' ~ server.status.alerts.total }}) {% endif %}
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{ not server.deploy ? '!!!' : server.deploy }}</span>
                         {{ not server.deploy ? 'Deploy running now' : 'Last deployment' }} <a href="/hooks_stat.html" target="_blank" class="btn btn-xs btn-default">show status</a>
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{ server.branch }}</span>
                        Git branch
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="jumbotron">
        {# Websocket status #}
        <div class="panel panel-default" style="width: 30%">
            <div class="panel-heading">
                <h3 class="panel-title">
                    WebSocket status {{ socket.pid ? '(PID: ' ~ socket.pid ~ ')' : '' }}
                    <span style="float: right;">
                        {% if socket.changeable %}
                            {% if socket.pid %}
                                <a class="btn btn-danger btn-sm" role="button" id="ws_restart" href="?ws_action=stop" style="margin-top: -.4em">Stop</a>
                            {% else %}
                                <a class="btn btn-success btn-sm" role="button" id="ws_restart" href="?ws_action=start" style="margin-top: -.4em">Start</a>
                            {% endif %}
                        {% else %}
                            Cannot manage WebSocket server.
                        {% endif %}
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% if not socket.pid %}
                        <li class="list-group-item list-group-item-danger">Server not running.</li>
                    {% else %}

                        {% for client in socket.hosts %}
                            <li class="list-group-item">
                                <span class="badge">{{ client.connected }}</span>
                                {{ client.ip }}
                            </li>
                        {% else %}
                            <li class="list-group-item list-group-item-warning">Nobody connected.</li>
                        {% endfor %}

                    {% endif %}
                </ul>
            </div>
        </div>

        {# Websocket logs #}
        <div class="panel panel-default" style="width: 50%">
            <div class="panel-heading">
                <h3 class="panel-title">
                    WebSocket logs
                    <span style="float: right;">
                        <button class="btn btn-primary btn-sm" role="button" style="margin-top: -.4em" id="show-all-log">Show all</button>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% if not socket.log %}
                        <li class="list-group-item list-group-item-danger">Cannot open log file.</li>
                    {% else %}
                        {% autoescape false %}
                            {% for logLine in socket.log|reverse %}
                                {% if logLine|length %}
                                    <li class="list-group-item {{ loop.index0 > 10 ? 'log-hidden-item' : '' }}" {{ logLine|length > 115 ? 'title="' ~ logLine ~ '"' }}>
                                        {{ logLine|length > 115 ? logLine|slice(0, 115) ~ "..." : logLine }}
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="list-group-item list-group-item-warning">Empty log file.</li>
                            {% endfor %}
                        {% endautoescape %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
</body>

<script>
    var showed = false;
    document.getElementById('show-all-log').addEventListener('click', function() {
        var lines = document.getElementsByClassName('log-hidden-item');
        for(var i=0; i < lines.length; i++) {
            lines[i].style.display = showed ? 'none' : 'block';
        }
        this.innerText = showed ? 'Show all' : 'Hide old';
        if(showed) {
            this.className = this.className.replace('btn-danger', '');
            this.className += ' btn-primary';
        } else {
            this.className = this.className.replace('btn-primary', '');
            this.className += ' btn-danger';
        }
        showed = !showed;
    });
</script>
</html>

