<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Weather | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.0.0/styles/atelier-estuary-dark.min.css">
        <script src="//cdn.jsdelivr.net/highlight.js/9.0.0/highlight.min.js"></script>
        <link rel="stylesheet" href="{{ asset('bundles/syntaxerrorapi/css/api.css') }}"/>
        {% block head %}{% endblock %}
    </head>
    {% spaceless %}
    <body>
        <header id="welcome">
            <a href="{{ path('syntax_error_api_basic_now') }}">
                Weather a<span style="font-size: 1.05em; color: #fa8072; margin-right: .1em">Pi</span>- Skalagi, Poland - {{ block('title') }}
            </a>

            <span>
                Get raw json with file extension <b>json</b>
            </span>
        </header>

        <main>
            {% block content %}
            <aside>
                <a href="{{ path('syntax_error_api_admin_logged') }}" class="admin-button">Admin area</a>
                <menu>
                    <a href="{{ path('syntax_error_api_basic_now') }}">Basic</a>
                    <a href="{{ path('syntax_error_api_sentence') }}">Sentence</a>
                    <a href="{{ path('syntax_error_api_socket') }}">WebSocket</a>
                    <a href="{{ path('syntax_error_api_wu', { 'type': 'forecast' }) }}">Forecast</a>
                    <a href="{{ path('syntax_error_api_wu', { 'type': 'astronomy' }) }}">Astronomy</a>
                    <a href="{{ path('syntax_error_api_wu', { 'type': 'alerts' }) }}">Alerts</a>
                    <a href="{{ path('syntax_error_api_archive_charts', { 'type': 'outTemp', 'period': 'day' }) }}">Day charts</a>
                    <a href="{{ path('syntax_error_api_archive_records', { 'period': 'day' }) }}">Day records</a>
                    <a href="{{ path('syntax_error_api_archive_charts', { 'type': 'outTemp', 'period': 'month' }) }}">Month charts</a>
                    <a href="{{ path('syntax_error_api_archive_records', { 'period': 'month' }) }}">Month records</a>
                    <a href="{{ path('syntax_error_api_archive_charts', { 'type': 'outTemp', 'period': 'year' }) }}">Year charts</a>
                    <a href="{{ path('syntax_error_api_archive_records', { 'period': 'year' }) }}">Year records</a>
                </menu>
                <article>{% block desc %}{% endblock %}</article>

                <div id="powered-by">
                    <img src="{{ asset('bundles/syntaxerrorapi/images/pi.png') }}"/>
                    <img src="{{ asset('bundles/syntaxerrorapi/images/weewx.png') }}"/>
                    <img src="{{ asset('bundles/syntaxerrorapi/images/mysql.png') }}"/>
                    <img src="{{ asset('bundles/syntaxerrorapi/images/php.png') }}"/>
                </div>
            </aside>


            <pre style="margin-top: 0"><code class="json">{{ json }}</code></pre>
            {% endblock %}
        </main>

    </body>
    {% endspaceless %}
    <script>
        hljs.initHighlightingOnLoad();
        var $code = document.getElementsByTagName('code')[0];
        if($code.className == 'json') {
            var jsonNiceString = JSON.stringify(JSON.parse($code.innerText), null, 2);
            $code.innerHTML = jsonNiceString.replace(/ /g, '\u00a0').replace(/(?:\r\n|\r|\n)/g, '<br />');
        }
    </script>
    {% block js %}{% endblock %}
</html>

