{% extends "SyntaxErrorApiBundle::base.html.twig" %}

{% block desc %}
    {% set period = app.request.attributes.get('_route_params').period %}
    
    <div>
        Data from one <b>{{ period }}</b> formatted for highcharts.js library.
    </div>

    <div style="margin-top: .5em;" id="date">
        You can change datetime from url, eg. <span style="color: #4842b5;">?date=2015-09-01</span>
        <input type="date" style="float: right; margin-right: .5em;"/>
        Default is <a href="{{ path('syntax_error_api_archive_charts', app.request.attributes.get('_route_params')) }}">today</a>.
    </div>


    <div style="margin-top: 1em;">
        <h3 style="margin: 0 .5em">/{{ period }}-charts/{type}</h3>
        <ul style="margin-top: .2em">
            <li>
                <a href="{{ path('syntax_error_api_archive_charts', {'type': 'outTemp', 'period': period}) }}">type: outTemp</a></li>
            <li><a href="{{ path('syntax_error_api_archive_charts', {'type': 'outHumidity', 'period': period}) }}">type: outHumidity</a></li>
            <li><a href="{{ path('syntax_error_api_archive_charts', {'type': 'barometer', 'period': period}) }}">type: barometer</a></li>
            <li><a href="{{ path('syntax_error_api_archive_charts', {'type': 'windGust', 'period': period}) }}">type: windGust</a></li>
            <li><a href="{{ path('syntax_error_api_archive_charts', {'type': 'windGustDir', 'period': period}) }}">type: windGustDir</a></li>
            <li><a href="{{ path('syntax_error_api_archive_charts', {'type': 'rain', 'period': period}) }}">type: rain</a></li>
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script>var today = '{{ "now"|date("Y-m-d") }}';</script>
    <script src="{{ asset('bundles/syntaxerrorapi/js/dater.js') }}"></script>
{% endblock %}
