{% extends "SyntaxErrorApiBundle::base.html.twig" %}

{% block desc %}
    {% set period = app.request.attributes.get('_route_params').period %}

    <div id="date">
        Records of <b>{{ period }}</b>. You can change date by <span style="color: #4842b5;">?date</span> parameter.
        <input type="date" style="float: right; margin-right: .5em;"/>
    </div>
    Default is <a href="{{ path('syntax_error_api_archive_records', app.request.attributes.get('_route_params')) }}">today.</a>


    <div style="margin-top: 2.5em;">
        You can decide what you want to see through the url,<br/>eg.
        {% set url = "http://" ~ app.request.host ~ path('syntax_error_api_archive_records', { 'period': period }) ~ "/?windspeed&winddir" %}
        <a href="{{ path('syntax_error_api_archive_records', { 'period': period }) ~ "?windspeed&winddir" }}">{{ url }}</a> return only wind speed and direction data.
    </div>

{% endblock %}

{% block js %}
    <script>var today = '{{ "now"|date("Y-m-d") }}';</script>
    <script src="{{ asset('bundles/syntaxerrorapi/js/dater.js') }}"></script>
{% endblock %}
